
body {
	background-color: $body-bg;
}

h1, h2, h3, h4 {

}

ul {
	//list-style: none;
}

hr {
	border-color: #ccc;
}

a {

	&:hover {
		text-decoration: none;
	}

	&:active {
		outline: none;
		text-decoration: none;
	}

	&:focus {
		outline: 0;
		text-decoration: none;
	}
}

.btn:focus, .btn:active:focus, .btn.active:focus {
	outline: 0;
}

