/* ••••••••• Buttons ••••••••• */
.btn:active, .btn.active {
	box-shadow: none;
}

.btn-primary {
	border: 2px solid $btn-primary-bg;

	&:hover {
		background-color: #5db5ff;
		border-color: #5db5ff;
	}

	&:active {
		background-color: #3d81ba;
		border-color: #3d81ba;
	}

	&:focus {
		border-color: #93ceff;
		border-width: 2px;
	}
}

.btn-default {
	border: 2px solid $btn-default-bg;
	
	&:hover {
		background-color: #859aab;
		border-color: #859aab;
	}

	&:active {
		background-color: #53606b;
		border-color: #53606b;
	}

	&:focus {
		border-color: #97aec1;
		border-width: 2px;
	}
}

.btn-pill {
	padding: 2px 15px;
	@include border-radius(20px);
	color: $link-inactive;

	&.active {
		background-color: $brand-primary;
		color: #fff;
	}
	
}/* ••••••••• END Buttons ••••••••• */





/* ••••••••• Radio / Checkbox ••••••••• */
.radio,.checkbox {
    margin: 0;
    margin-left: 0;
    padding-left: 0;

    input[type='radio'], input[type='checkbox'] {
        @include opacity(0);
    }

    label {
        display: block;
        padding-left: 28px;
        background: url(../img/sprite-inputs.svg) 0 0 no-repeat;
        color: $text-color;
        text-transform: none;
        font-size: $font-size-base;
        line-height: 21px;
    }

    label.hasfocus {
        color: #444;
    }

    label.checked {
        color: #444;
    } 
}

.checkbox {
    
    label {
        background-position: 0 1px;
        margin-bottom: 15px;
        text-transform: none;

        input[type='checkbox'] {
            margin-left: -10px;
        }

         input[type='checkbox'][disabled] {
            background-position: 0 -141px;
        }

        &.hasfocus {
        	background-position: 0 -44px;
        }

        &.disabled {
        	cursor: not-allowed;
    		background-position: 0 -89px;
    		opacity: .5;
        }
    }

    label.checked {
        background-position: 0 -89px;
    }
}

.radio {

    label {
      background-position: 0 -187px;
      margin-bottom: 15px;

        input[type='radio'] {
        	margin-left: -10px;
      	}

      	&.hasfocus {
        	background-position: 0 -225px;
        }

        &.disabled {
			cursor: not-allowed;
			background-position: 0 -298px;
			opacity: .5;
    	}
    }

    label.checked {
      background-position: 0 -259px;
    }

    
}/* ••••••••• END Radio / Checkbox ••••••••• */






/* ••••••••• Select, Dropdown ••••••••• */
.dropdown,
.dropdown div,
.dropdown li,
.dropdown div::after{
	-webkit-transition: all 10ms ease-in-out;
	-moz-transition: all 10ms ease-in-out;
	-ms-transition: all 10ms ease-in-out;
	transition: all 10ms ease-in-out;
}

.dropdown .selected::after,
.dropdown.scrollable div::after{
	-webkit-pointer-events: none;
	-moz-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
}

/* WRAPPER */
.dropdown{
	position: relative;
	width: 100%;
	cursor: pointer;
	background: #fff;
	color: #727677;
	@include border-radius();	
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.dropdown.open{
	z-index: 2;
}

.dropdown:hover{

}

.dropdown.focus{

}

/* CARAT */
.dropdown .carat{
	position: absolute;
	right: 12px;
	top: 50%;
	margin-top: -3px;
	border: 4px solid transparent;
	border-top: 8px solid #727677;
}

.dropdown.open .carat{
	margin-top: -11px;
	border-top: 6px solid transparent;
	border-bottom: 8px solid #727677;
}

.dropdown.disabled .carat{
	border-top-color: #999;
}

/* OLD SELECT (HIDDEN) */
.dropdown .old{
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	overflow: hidden;
}

.dropdown select{
	position: absolute;
	left: 0px;
	top: 0px;
}

.dropdown.touch .old{
	width: 100%;
	height: 100%;
}

.dropdown.touch select{
	width: 100%;
	height: 100%;
	opacity: 0;
}

/* SELECTED FEEDBACK ITEM */ 
.dropdown .selected,
.dropdown li{
	display: block;
	padding: 9px 12px;
	overflow: hidden;
	white-space: nowrap;
}

.dropdown.disabled {
	background-color: #9a9c9c;
	cursor: not-allowed;

	.carat{
		position: absolute;
		right: 12px;
		top: 50%;
		margin-top: -3px;
		border: 4px solid transparent;
		border-top: 8px solid #727677;
	}
}

.dropdown.disabled .selected{
	
}

.dropdown .selected::after{
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
}

/* DROP DOWN WRAPPER */
.dropdown div{
	position: absolute;
	height: 0;
	left: 0px;
	right: 0px;
	top: 100%;
	margin-top: -3px;
	background: #fff;
	@include border-radius();
	@include border-top-radius(0px); 
	overflow: hidden;
	opacity: 0;
	margin-bottom: 50px;
}
/* Height is adjusted by JS on open */

.dropdown.open div{
	opacity: 1;
	z-index: 2;
}

/* FADE OVERLAY FOR SCROLLING LISTS */
.dropdown.scrollable div::after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
	
	box-shadow: inset 0 -50px 30px -35px #fff;
}

.dropdown.scrollable.bottom div::after{
	opacity: 0;
} 

/* DROP DOWN LIST */
.dropdown ul{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	list-style: none;
	overflow: hidden;
	padding: 0px 5px;
	

}

.dropdown.scrollable.open ul{
	overflow-y: auto;
}

/* DROP DOWN LIST ITEMS */
.dropdown li{
	list-style: none;
	padding: 5px 7px;
	margin-bottom: 1px;
	@include border-radius();

	&:last-child {
		margin-bottom: 5px;
	}
}

/* .focus class is also added on hover */
.dropdown li.focus{
	background-color: $brand-primary;
	position: relative;
	z-index: 3;
	color: #fff;
}

.dropdown li.active {
	color: #fff;
	background-color: $brand-primary;
	background-image: url('../img/select-check.svg');
	background-repeat: no-repeat;
	background-position: right 7px;
	
}/* ••••••••• END Select, Dropdown ••••••••• */

