
// Bootstrap Overrides
$body-bg: #eee;
$brand-primary: #3bbb86;

	//Font Family
$font-family-sans-serif: 'Open Sans', sans-serif;

	// Buttons
$btn-default-color: #fff;
$btn-default-bg: #647481;
$btn-default-border: #647481;

$btn-primary-color: #fff !default;
$btn-primary-bg: #4b93cf;
$btn-primary-border: darken($btn-primary-bg, 5%) !default;



	// Text colors
$text-color:            #777;
	//** Global textual link color.
$link-color:            $brand-primary;
	//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;
$headings-font-weight:    300;

	//Nav
$navbar-default-link-hover-color: #fff;


// Custom Variables
$border-thin: 1px solid;
$border-thick: 2px solid;



//Colors
$lt-bg: #3f4445;
$error: #cf4b4b;
$disabled: #9a9c9c;
$text-lt-bg: #343839;
$list-offset: #434849;

$header-color: #26292a;


//Text
$link-inactive: #9a9a9a;